.header{
	height: 60px;
	border-bottom: 5px solid #ccc;
}
.admin-logo{
	max-height:55px;
}
.auth-user-action{
	margin-top: 15px;
}

.bar{
	padding-top : 5px;
	padding-bottom : 5px;
}
.bar-primary{
	background-color: #428bca;
	
}
.bar-secondary{
	background-color: #e6e6e6;
}
.bar-third{
	background-color: #F8F8F8; 
}
.bar-title{
	font-size: 1.2em;
	margin-top : 4px !important;
	margin-bottom : 0px !important;
	font-weight: bold;
	color: #fff;
}
.bar-top{
	min-height: 42px !important;
}
.search-box{
	min-height: 32px;
}
.btn-left-margin{
	margin-left: 10px;
}

.left-bar{
	background-color: #e6e6e6;
	border-right : 5px solid #fff;
}
.nav-left a {
	border-radius : 0px !important;
}
.left-bar-menu-ul{
	padding:0px;
	
}
.left-bar-menu-ul li{
	list-style-type: none;
	display: block;
	padding : 4px 0px;
	
}
.panel-body-custom{
	padding-top: 2px;
	padding-bottom: 2px;
}
.dashboard-link, .dashboard-link:hover{
	margin: 5px;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
}
/*dashboard*/
.report-title{
	margin: 5px;
	font-size: 18px;
}
.report-details{
	border: 1px solid #ccc;
	margin-bottom:  10px;
	padding: 5px;
}
/*roles*/
.permission_module{
	display:block;
	float:left;
}
.list li{
	margin-left: 30px;
	list-style-type: none;
}

.list input{
	margin-left : 0px !important;
}

.login-form-holder{
	width : 40%;
	margin: 20px auto;
}

.alert{
	border-radius : 0px !important;
	margin-bottom : 0px !important;
}

input[type="file"]{
	padding-top:0px;
}


.error-message{
	color: red;
}

.form-section-heading{
	border-bottom : 1px solid #5bc0de;
	padding: 5px 5px 5px 0px;
	font-weight: bold;
	margin-bottom : 5px;
}

.attr{
	border-bottom : 1px solid #ccc;
	margin-bottom : 5px;
}

.attr_value_holder{
	
}

.category-brand-box{
	height: 200px;
	overflow: auto;
}

.padding-bottom-10{
	padding-bottom: 10px;
}

.individual-image{
	margin-bottom : 10px;
}
.upload-image-input-box{
	margin-bottom-10px;
}

.upload-image-thumbnail{
	max-width: 200px;
	max-height: 150px;
}

.row-divider-upload{
	clear: both !important;
}

.action{
	min-width : 200px !important;
	
}